#*
 Copyright 2010-2014 Norconex Inc.
 
 This file is part of Norconex Elasticsearch Committer.
 
 Norconex Elasticsearch Committer is free software: you can redistribute it 
 and/or modify it under the terms of the GNU General Public License as 
 published by the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex Elasticsearch Committer is distributed in the hope that it will be 
 useful, but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along with 
 Norconex Elasticsearch Committer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 

<p class="lead">
<a href="download.html" class="btn btn-primary btn-large">Download ${currentStableVersion}</a> 
<br/><br/>

The <b>Elasticsearch Committer</b> library provides an implementation of 
<a href="http://www.norconex.com/product/committer">Norconex Committer</a>
targeting <a href="http://www.elasticsearch.org/">Elasticsearch</a>.
</p>

$h2 Installation

This committer is a library that you must include in another product classpath
(along with committer dependencies).  For use with a Norconex Collector, 
follow these simple steps:

  * ([Download](./download.html)) the latest release of Elasticsearch Committer

  * Unzip the downloaded file somewhere.

  * Copy the content of the `<committer_unzipped_folder>/lib` folder
    to `<collector_install_folder>/lib`.
    
$h2 Configuration

When used with a Norconex Collector, you can use the following XML to configure
the Elasticsearch Committer:

    <committer class="com.norconex.committer.elasticsearch.ElasticsearchCommitter">
        <indexName>...</indexName>
        <typeName>...</typeName>
        <clusterName>...</clusterName> 
        <idSourceField keep="[false|true]">...</idSourceField>
        <contentSourceField keep="[false|true]">...</contentSourceField>
        <contentTargetField>...</contentTargetField>
        <queueDir>...</queueDir>
        <queueSize>...</queueSize>
        <commitBatchSize>...</commitBatchSize>
        <maxRetries>...</maxRetries>
        <maxRetryWait>...</maxRetryWait>
    </committer>

Tag descriptions:

| Tag                | Description   |
| ------------------ | ------------- |
| `indexName` | Index name to use when committing documents to Elasticsearch |
| `typeName` | Type name to use when committing documents to Elasticsearch |
| `clusterName` | Optional Elasticsearch cluster name. Set this if you have more than one cluster |
| `idSourceField` | Name of source field that will be mapped to the Elasticsearch id field. Default is the document reference the Committer stores as "committer.reference". The metadata source field is deleted, unless *keep* is set to true|
| `contentSourceField` | Source field name for a document content/body. Default is not a field, but rather the document body content. Once re-mapped, the metadata source field is deleted, unless *keep* is set to true.|
| `contentTargetField` | Target field name for a document content/body. Default is: content.|
| `queueDir` | Optional path where to queue files before sending them to Elasticsearch. Default is: ./committer-queue|
| `queueSize` | Optional maximum queue size before sending document to Elasticsearch. Default is: 1000.|
| `commitBatchSize` | Optional maximum of documents to send to Elasticsearch at once. Default is: 100.|
| `maxRetries` | Maximum retries upon commit failures.  Default is 0 (no retry). |
| `maxRetryWait` | Maximum delay (millisecond) between retries. Default is 0 (no delay). |
